body , div , h1 , p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: grey;
}

.color-palette {
  display: flex;
  justify-content: center;
  border: 1px black;
}

.color {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  box-sizing: content-box;
  height: 40px;
  width: 40px;
}

.pixel-board {
  box-sizing: content-box;
  display: table;
  height: 210px;
  width: 210px;
  margin: 20px;
}

.tr {
  border: 1px solid red;
  display: table-row;
}

.td {
  display: table-cell;
}

.color:first-child {
  background-color: black;
}

.selected {
  box-shadow: 5px 5px 5px gold;
}

.color-options {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.board-options {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.center-content {
  display: flex;
  justify-content: center;
}

.title {
  color: white;
  text-align: center;
  margin: 10px;
}

.board-size-label {
  align-content: center;
  justify-content: center;
  margin: 10px;
}
